.container	{
	font-family: sans-serif;
	max-width: 75%;
	margin: 0 auto;
	background: #f9f9f9;
	font-size: 24px;
	padding: 25px;
}

.parallax {
		padding: 100px  35px;
    background: transparent;
}

.info	{
		z-index: 2;
		color: white;
		position: relative;
}
