@media (min-width: 760px) {
       .thumbnail {
      height: 275px;
      overflow-y: hidden;
    }
}

@media (min-width: 992px) {
       .thumbnail {
      height: 300px;
      overflow-y: hidden;
    }
}

@media (min-width: 1200px) {
       .thumbnail {
      height: 350px;
      overflow-y: hidden;
    }
}
