body{
  font-family:Arial, Helvetica, sans-serif;
}

#promo{
  text-align:center;
  padding:40px;
  background:url(pbg.jpeg) no-repeat;
  background-size:cover;
  margin-top:65px;
}

@media (max-width:991px) {
  #promo{
    padding:20px;
  }
}

#promo .jumbotron{
  border-radius:20px;
  padding:40px;
  background-color:rgba(255,255,255,0.75);
  max-width:800px;
  margin:auto;
}

@media (max-width:991px) {
  #promo.jumbotron{
    padding:20px;
  }
}

.site-section{
  text-align:center;
  padding:50px 0 60px;
}

.site-section h1{
  font-weight:normal;
  margin-bottom:30px;
}

#welcome p{
  max-width:800px;
  font-size:20px;
  margin:0 auto;
}

#why .item i{
  font-size:42px;
  color:rgb(207,83,78);
}

#why .item h2{
  font-weight:normal;
}

#dark-section{
  background-color:rgba(218,242,252,0.57);
}

#why .item p{
  color:rgb(64,86,95);
}

#logo{
  max-height:42px;
  margin-right:5px;
  margin-top:-5px;
  display:inline-block;
}

